body{
    background-color: pink;
    margin: 0px;
    padding: 0px;
}
.kapsa{

    width: 900px;
    margin: 20px auto;
    border: 2px solid white;

}

.header{
    border: 30px solid white;
    padding: 30px;
}

.header h2{
    background-color: darkgray;
    width: 480px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;

}
.ust_menu{
    background-color: darkgray;
    height: 40px;
}
.ust_menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.ust_menu ul li {
    float: left;
}
.ust_menu ul li a{
    display: block;
    height: 40px;
    width: 150px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.ust_menu ul li a:hover{
    color: blue;
}
.icerik {
    background-color: ghostwhite;
    height: 400px;
}
.ara{
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
}
.ara button{
    width: 60px;
    background-color: green;
    color: white;
    border-radius: 5px;

}
.sol_taraf{
    width: 600px;
    line-height: 30px;
    text-align: justify;
    float: left;
}
.sol_taraf h3{
    width: 600px;
    border-bottom: 2px dashed black;
    padding-left: 20px;
}
.sol_taraf img{
  
        height: 200px;
        width: 180px;
        float: left;
    
}
.sag_taraf{

width: 270px;
margin-left: 30px;
float: left;

}
.sag_taraf h4{
    background-color: darkgray;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.sag_taraf ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sag_taraf ul li{
height: 50px;
background-color: whitesmoke;
padding-left: 10px;
padding-top: 10px;
border-bottom: 1px solid black;
}